<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>admin</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/common.css">
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="logout">Logout</a></li>
        <li><a href="adminhomepage">Admin Homepage</a></li>
      </ul>
    </div>
    <div class="main">
        <div class="h12"></div>
        <div class="content">
          <div class="h40"></div>
          <div class="top">
          <h1>Add new Admin</h1>
             <form action="addnewadmin" method="post">
              Email Address:<input type="email" name="email"><br>
              Password:<input type="password" name="psw"><br>
              <input type="submit" value="Sign Up">
              <input type="reset" value="Reset">
              </form>
            </div>
        </div>
     </div>
  </body>
</html>
