<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
    <meta charset="utf-8">
    <title>admin</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/admin.css">
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="index">Home</a></li>
      </ul>
    </div>
  <div class="main">
        <div class="h12"></div>
        <div class="content">
          <div class="h40"></div>
          <div class="top">
          <h1>Admin Home Page</h1>
           <button type = "button">Place an Order</button>
           <button type = "button">Add new admin</button>
           <button type = "button">View incoming tweets</button>
           <button type = "button">View Customer Details</button>
        </div>
        </div>
      </div>
  </body>

</html>
