<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>customer</title>
    <link rel="stylesheet" href="styles/common.css">
      
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="customer">Customer account</a></li>
        <li><a href="admin">Admin account</a></li>
      </ul>
    </div>
    <div class="main">
      <div class="h12"></div>
      <div class="content">
          <div class="h40"></div>
          <div class="top">
          <h1>Place an order</h1>
          <form action="currentorders" target="_blank" method="post">
       Twitter Handle: <input type="text" name="tname"><br>
       Pick Up Location: <input type = "text" name = "pickuplocation"><br>
       Destination:<input type="text" name="destination"><br>
       Time:<input type="datetime-local" name="datetime"><br>
       Tier ID:<input type="number" min = "1" max = "3" name = "tier_id"><br>
       <input type="submit" value="Submit">
          </form>
          <div class="notes">

           <p>Key for Tiers: </p>
           <p>1 - Standard</p>
           <p>2 - Extra</p>
           <p>3 - Luxury</p>
          </div>
            <div class="h12"></div>




          </div>
        </div>
      </div>
  </body>
</html>
