<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>customer</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/custlogin.css">
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="customer.html">Customer account</a></li>
        <li><a href="admin.html">Admin account</a></li>
      </ul>
    </div>
    <div class="main">
        <div class="h12"></div>
        <div class="content">
          <div class="h40"></div>
          <div class="top">
          <h1>Place an order</h1>


          <form action="///////.rb" target="_blank" method="get">
   Twitter Handle: <input type="text" name="tname"><br>
   Pick Up Location: <input type = "text" name = "pickuplocation"><br>
   Destination:<input type="text" name="destination"><br>
   Date:<input type="date" name="date"><br>
   Time:<input type="time"><br>
   Tier ID:<input type="number"><br>
   <!-- PRIMARY KEY(user_id),
 FOREIGN KEY(user_id) REFERENCES UserInfo(user_id),
 FOREIGN KEY(tier_id) REFERENCES CarTiers(tier_id) -->


          </form>
            <div class="h12"></div>
            <div class="button">
              <ul>
                <li class="signup"><a href="orderhistory.html"><span>Place Order</span></a></li>
              </ul>
            </div>



          </div>
        </div>
      </div>
  </body>
</html>
