<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>admin</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/admin.css">
    <link rel="stylesheet" href="styles/themes.css">

  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="logout">Logout</a></li>
        <li><a href="updatecustomerdetails">Update Personal Details</a></li>
        <li><a href="orderHistory">Order History</a></li>

      </ul>
    </div>
    <div class="main">
        <div class="h12"></div>
        <div class="content">
          <div class="h40"></div>
          <div class="top">
          <div class = "content_title">Welcome to Twaxi!</div>
          <div class="h12"></div>

                    <table>
                          <tr>
                            <th>These are the following tiers available: </th>
                          </tr>
                            <% @results.each do |element| %>
                                   <tr>
                                     <td><%=h element[0]%> </td>
                                   </tr>
                            <% end %>  
                     </table>   



        </div>
        </div>
      </div>
  </body>
</html>
