<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>customer</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/admin.css">
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="customer">Customer account</a></li>
        <li><a href="admin">Admin account</a></li>
      </ul>
    </div>
    <div class="main">
        <div class="h12"></div>
        <div class="content">
          <div class="h40"></div>
          <div class="top">
          <h1>Customer Home Page</h1>

                <ul>
                 <li><a href="#"><span>View Order History</span></a></li>
                 <li><a href="#"><span>Update Personal Details</span></a></li>      
                </ul>

        </div>
      </div>
    </div>
  </body>
</html>
