<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>customer</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/customer.css">
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="customer">Customer account</a></li>
        <li><a href="admin">Admin account</a></li>
          
      </ul>
    </div>
    <div class="main">
        <div class="h12"></div>
        <div class="content">
          <div class="h40"></div>
          <div class="top">
          <h1>Customer Account</h1>

            <form action="customer" method="post">
            <% if @submitted && params[:psw]!=@customerPasswordForERB %>
              <p style="color:red">Your Twitter handle or password was incorrect, please try again.</p>
            <% end %>
              Twitter handle:<input type="text" name="username"/><br>
              User password:<input type="password" name="psw"/><br>
              <input type="submit" value="Login">
              <input type="reset">
          </form>
      
        

          </div>
        </div>
      </div>
    </body>
</html>
