<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>customer</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/orderhistory.css">
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="customer.html">Customer account</a></li>
        <li><a href="admin.html">Admin account</a></li>
      </ul>
    </div>
    <div class="main">
        <div class="h12"></div>
        <div class="content">
          <div class="h40"></div>
          <div class="top">
          <h1>Order History</h1>


          <form action="///////.rb" target="_blank" method="get">
            <table>
              <tr>
                <th>Order id</th>
                <th>Twitter ID</th>
                <th>Destination</th>
                <th>Pick up Destine</th>
                <th>Date</th>
                <th>Time</th>
                <th>Tier ID</th>
              </tr>
              <tr>
                <th><input type="text" name="oname"></th>
                <th><input type="text" name="tname"></th>
                <th><input type="text" name="destination"></th>
                <th><input type="text" name="destination"></th>
                <th>  <input type="date" name="date" class="date"></th>
                <th><input type="time"></th>
                <th><input type="number" min="1" max="3"></th>
              </tr>
              <tr>
                <th><input type="text" name="oname"></th>
                <th><input type="text" name="tname"></th>
                <th><input type="text" name="destination"></th>
                <th><input type="text" name="destination"></th>
                <th>  <input type="date" name="date" class="date"></th>
                <th><input type="time"></th>
                <th><input type="number" min="1" max="3"></th>
              </tr>
              <tr>
                <th><input type="text" name="oname"></th>
                <th><input type="text" name="tname"></th>
                <th><input type="text" name="destination"></th>
                <th><input type="text" name="destination"></th>
                <th>  <input type="date" name="date" class="date"></th>
                <th><input type="time"></th>
                <th><input type="number" min="1" max="3"></th>
              </tr>
              <tr>
                <th><input type="text" name="oname"></th>
                <th><input type="text" name="tname"></th>
                <th><input type="text" name="destination"></th>
                <th><input type="text" name="destination"></th>
                <th>  <input type="date" name="date" class="date"></th>
                <th><input type="time"></th>
                <th><input type="number" min="1" max="3"></th>
              </tr>
            </table>

            <!-- PRIMARY KEY(order_id),
  FOREIGN KEY(tier_id) REFERENCES CarTiers(tier_id),
  FOREIGN KEY(user_id) REFERENCES UserInfo(user_id) -->



          </form>
            <div class="h12"></div>
          </div>
        </div>
      </div>
  </body>
</html>
