<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/Home.css">
    <title>Index</title>
  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="customer">Customer account</a></li>
        <li><a href="admin">Admin account</a></li>

      </ul>
    </div>

    <div class="main">
      <div class="h12"></div>
      <div class="content">
          <div class="h40"></div>
          <div class="top">
            <h1>Log in to Twaxi</h1>
            <ul>
              <li>
                <a href="admin"><img src="imgs/admin.png" alt=""></a>
                <h2><a href="admin">Admin account</a></h2>
              </li>
              <li>
            <a href="customer"><img src="imgs/customer.png" alt=""></a>
                <h2><a href="customer">Customer account</a></h2>
              </li>
            </ul>
          </div>
        <div class="last">
            <ul>
                <li @id="last2">New here?<span><a href="signup">Sign up now-></a></span></li>
            </ul>
        </div>
        </div>
     </div>
  </body>
</html>
