<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>customer</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/customer.css">
    <link rel="stylesheet" href="styles/themes.css">

  </head>
  <body>
    <div class="header">
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="customer">Customer account</a></li>
        <li><a href="admin">Admin account</a></li>
      </ul>
    </div>
    <div class="main">
        <div class="h12"></div>
        <div class="content">
          <div class="h40"></div>
          <div class="top">
          <div class = "content_title">Customer Account</div>
            <form class = "signup" action="signup" method="post">
              First name: <input type="text" name="fname"><br>
              Last name: <input type="text" name="lname"><br>
              Twitter ID: <input type="text" name="tname"><br>
              User password:<input type="password" name="psw"><br>
              Email address:<input type="email" name="mail"><br>
              <input type="submit" class="submit"value="Sign Up">
              <input type="reset" class="reset" value="Reset">
            </form>


            </div>
<% if @submitted && @all_ok %>
     <p>Thanks <%=h @fname %>, we got your data.</p>
<% else %>

   <form method = "post" action = "signup">

       <% if @submitted && !@fname_ok %>
       <p style = "color:red"> Please enter your first name</p>
       <% end %>

       <% if @submitted && !@lname_ok %>
       <p style = "color:red"> Please enter your last name</p>
       <% end %>

       <% if @submitted && !@tname_ok %>
       <p style = "color:red"> Please enter your twitter handle</p>
       <% end %>
       
       <% if @submitted && !@psw_ok%>
       <p style = "color:red"> Please enter password</p>
       <% end %>
       
    </form>

<% end %>


          </div>
        </div>
  </body>
</html>
