.main .content .top .content_title{
  height: 50px;
  color: #3CBC8D;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

.main .content{
  height: 500px;
  width: 900px;
}
.main .content .top{
  width: 800px;
}
tr th input.date{
  width: 98px;
}
@media only screen and (max-width: 830px){
  .main .content{
    width: 990px;
  }
  .main .content .top{
    margin-left: 0;
  }
}



.main .content .top .adminbuttons{
 height: 100px;
 width: 100%;
 margin: 20px;
}
.main .content .top .adminbuttons ul{
  overflow: hidden;

}
.main .content .top .adminbuttons ul li{
  margin-bottom: 20px;
  float: none;
  display: block;
  height: 60px;
  width: 400px;
  border-radius: 50px;
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  color: #00AA66;
  border-color: #00AA66;
  border-style: solid;
  font-size: 15px;
}
.main .content .top .adminbuttons ul li span{
  position: absolute;
  top: 30px;
  left: 130px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  color: #00AA66;
}
.main .content .top .adminbuttons ul li:hover{
background-color: #bde4b7;
}
.status{
  width: 30px;
}
.services_ul{
  padding-left: 270px;
}
li.services_li{
  color: #3CBC8D;
  font-size: 20px;
  padding: 10px;
}
@media only screen and (max-width: 830px){
  .main .content{
    height: 450px;
  }
  .main .content .top .adminbuttons ul li{
    margin-bottom: 10px;
    float: none;
    display: block;
    height: 30px;
    width: 240px;
    border-radius: 50px;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: #00AA66;
    border-color: #00AA66;
    border-style: solid;
    font-size: 15px;
  }
  .main .content .top .adminbuttons ul li span{
    position: absolute;
    top: 15px;
    left: 45px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    color: #00AA66;
  }
  .main .content .top .adminbuttons ul li:hover{
  background-color: #bde4b7;
  }
}
