.main .content {
  height: 550px;
}
.main .content .top .adminbuttons{
 height: 100px;
 width: 100%;
 margin: 20px;
}
.main .content .top .adminbuttons ul{
  overflow: hidden;

}
.main .content .top .adminbuttons ul li{
  margin-bottom: 20px;
  float: none;
  display: block;
  height: 60px;
  width: 400px;
  border-radius: 50px;
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  color: #00AA66;
  border-color: #00AA66;
  border-style: solid;
  font-size: 15px;
}
.main .content .top .adminbuttons ul li span{
  position: absolute;
  top: 30px;
  left: 130px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  color: #00AA66;
}
.main .content .top .adminbuttons ul li:hover{
background-color: #bde4b7;
}

@media only screen and (max-width: 830px){
  .main .content{
    height: 450px;
  }
  .main .content .top .adminbuttons ul li{
    margin-bottom: 10px;
    float: none;
    display: block;
    height: 30px;
    width: 240px;
    border-radius: 50px;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: #00AA66;
    border-color: #00AA66;
    border-style: solid;
    font-size: 15px;
  }
  .main .content .top .adminbuttons ul li span{
    position: absolute;
    top: 15px;
    left: 45px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    color: #00AA66;
  }
  .main .content .top .adminbuttons ul li:hover{
  background-color: #bde4b7;
  }
}
