form ul li{
  display: block;
  height: 30px;
  width: 400px;
  margin: 0 auto;
  background-color:#e3ebf7;
  margin-top: 30px;
  border: 1px solid #afb2b5;
  border-radius: 50px;
}
.main{
  height: 700px;
}
.main .content{
  height: 550px;
}
.main .content .top{
  position: relative;
}
.main .content .button ul li.signup{
  height: 30px;
  width: 76px;
}
.main .content .button ul li span{
  top: 15px;
  left: 40px;


}

.main .content .top .notes{
  height: 100px;
  width: 100px;
  position: absolute;
  right: 60px;
  top: 0;
}
