

.main .content{
  height: 500px;
  width: 900px;
}
.main .content .top{
  width: 800px;
}
tr th input.date{
  width: 98px;
}
@media only screen and (max-width: 830px){
  .main .content{
    width: 990px;
  }
  .main .content .top{
    margin-left: 0;
  }
}
